#single1Template {
    color: #1d1d1b;
    font-family: 'Droid Sans',Arial,sans-serif;
    background: #f6e0ae;
}

#single1Template #offers {
    padding: 20px 100px;
    background-color: #fffaec;
}

