<div style="height: 100%; position:relative; transform: translateX(-50%); left: 50%; display: flex; flex-direction: row; justify-content: center; align-items: center;">
    <svg style="height: 100%; width: 100%; max-height: 128px; max-width: 128px;" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" stroke="#337ab7">
        <g fill="none" fill-rule="evenodd" stroke-width="2">
            <circle cx="32" cy="32" r="1">
                <animate attributeName="r"
                         begin="0s" dur="1.8s"
                         values="1; 20"
                         calcMode="spline"
                         keyTimes="0; 1"
                         keySplines="0.165, 0.84, 0.44, 1"
                         repeatCount="indefinite" />
                <animate attributeName="stroke-opacity"
                         begin="0s" dur="1.8s"
                         values="1; 0"
                         calcMode="spline"
                         keyTimes="0; 1"
                         keySplines="0.3, 0.61, 0.355, 1"
                         repeatCount="indefinite" />
            </circle>
            <circle cx="32" cy="32" r="1">
                <animate attributeName="r"
                         begin="-0.9s" dur="1.8s"
                         values="1; 30"
                         calcMode="spline"
                         keyTimes="0; 1"
                         keySplines="0.165, 0.84, 0.44, 1"
                         repeatCount="indefinite" />
                <animate attributeName="stroke-opacity"
                         begin="-0.9s" dur="1.8s"
                         values="1; 0"
                         calcMode="spline"
                         keyTimes="0; 1"
                         keySplines="0.3, 0.61, 0.355, 1"
                         repeatCount="indefinite" />
            </circle>
        </g>
    </svg>
</div>