<div class="col-lg-8 text-center">
    <loader ng-if="isLoading"></loader>
    <div class="alert alert-danger" ng-if="errors.length > 0">
        <p class="text-danger" ng-repeat="error in errors">{{error}}</p>
    </div>
    <div class="panel panel-default" ng-if="!isLoading">
    <div class="panel-heading">
        <button type="button"
                class="btn btn-primary"
                ng-click="go('/createOffer')">Create a new offer
        </button>
    </div>
    <table class="table table-striped" id="offerTable">
        <thead>
        <tr>
            <th>Status</th>
            <th>Name
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="offer in offers">
            <td>{{offer.offer.status}}</td>
            <td>{{offer.offer.name}}</td>
            <td>
                <button type="button" class="btn btn-default"
                        id="editOfferButton"
                        ng-click="go('/createOffer/' + offer._id)">Edit
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>