<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><button type="button" class="btn btn-primary" ng-click="go('/oWallCreate')">Create a new wall</button></div>

    <div class="alert alert-danger" role="alert" ng-if="hasError">Error fecthing data from DB.</div>

    <!-- Table -->
    <table class="table table-striped" ng-if="!hasError && walls && walls.length > 0" id="offerWallTable">
        <thead>
        <tr>
            <th>Id</th>
            <th>Status</th>
            <th>Name
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="wall in walls">
            <td>{{wall._id}}</td>
            <td>{{wall.wall.status}}</td>
            <td>{{wall.wall.name}}</td>
            <td><button type="button" class="btn btn-default" id="editWallButton"
                        ng-click="go('/oWallCreate/' + wall._id)">Edit</button></td>
            <td><!-- Single button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-default
                        dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Preview <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="" ng-click="preview('single', wall._id);">Single</a></li>
                        <li><a href="" ng-click="preview('single1', wall._id);">Single1</a></li>
                        <li><a href="" ng-click="preview('twoAcross', wall._id);">2 Across</a></li>
                        <li><a href="" ng-click="preview('threeAcross', wall._id);">3 Across</a></li>
                        <li><a href="" ng-click="preview('blog', wall._id);">Blog</a></li>
                    </ul>
                </div></td>
        </tr>
        </tbody>
    </table>
</div>