<!-- Page Content -->
<div class="container" id="threeAcrossTemplate" ng-if="wall.status == 'Active' ">

    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Partners
                <small>Have a look at our close partners before finishing:</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-4 portfolio-item" ng-repeat="offer in wall.offers | orderBy : 'index*1' | filter: activeOfferFilter ">
            <a href="{{offer.offer.redirectUrl}}" target="_blank">
                <img class="img-responsive" src="{{offer.offer.imageUrl}}" alt="">
            </a>
            <h3>
                <a href="{{offer.offer.redirectUrl}}">{{offer.offer.header}}</a>
            </h3>
            <p>{{offer.offer.body}}</p>
        </div>
    </div>
</div>